.navbar-1{
border-bottom: 1px solid gray;
padding:10px 10px 10px 10px;
}


.navbar-2{
    display: flex;
    gap:30px;
    border-bottom: 1px solid gray;
    padding:10px 10px 10px 10px;
    button{
     background-color:white;
     border: none;
     color:black;
     font-weight: 300;
    }
}

button{
     padding:7px 7px;
    text-align: center;
    background-color:lightblue;
    border:1px solid lightblue;
}
.button{
    display: flex;
    gap:5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}